body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar1 {
    background: rgba(0, 0, 0, 0.55);
    height: available;
    /* Standard syntax */
    padding: 0.1px;
    opacity: 90%;
}

.logo {
    max-height: 130px;
}

.logo > img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}

.list {
    color: #ffffff;
    list-style: none;
    padding-left: 0px;
}

.table-hover tbody tr:hover td {
    background: rgb(126, 241, 85);
}

a {
    color: inherit;
}

a:hover{
     color: inherit; /* Inherits color property from its parent */
 }

.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}

.list > li, h5 {
    padding: 5px 0px 5px 40px;
}

.list > li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}

.active-page {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ff0b00;
}

.participantstable {
    display: inline-block;
    float: left;
    width: 48%;
    margin-right: 20px;
}

.headcenter {
    text-align: center;
}

.participantsheader {
    width: 49.5%;
    display: inline-block;
}

.warning {
    width: 35%;
}

.deletewarning {
    width: auto;
}

.colorrow {
     background-color: rgb(126, 241, 85) !important;
}

#approvebutton {
    color: green;
}
#denybutton {
    color: red;
}

footer{
    margin-top: auto;
}


/*

Detail pagina voor workshops

 */
.details-container{
    display: flex;
    flex-wrap: wrap;
    margin-top:15px;
}

.details {
    padding:5px;
    width: 45%;
    border: 1px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.detail-row div{
    width:45%;
    display:inline-block;
    margin-top:3px;
}
